[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceFail
Exec=/home/jianglei/svg/dbus-1.13.6/test/test-shell-service "this should 'fail' because of an unterminated quote
User=anyrandomuser

